
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Lexend:wght@300&display=swap');

*{
    margin:0;
    padding:0;
   
}
body{
    
    font-family: 'Lexend';
}
#header{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    
}
#header .Logo .skole-logo{
    width: 130px;

}
#header .button .python-logo{
    width: 100px;
}
#header .menu{
    
    display: inline-flex;
    justify-content: space-between;
    align-content: center;

}
#header .menu a{
    padding: 5px;
    text-decoration: none;
    color:black;
    font-size: 16px;
}
#header h2{
    font-size: 15px;
    font-weight: 600;
    padding: 5px;
    text-decoration: none;
    color:black;
}
hr{
    
    height:5px;
    border-width:0;
    background-color:#7eb487;
    box-shadow:1px 1px 3px rgba(5, 5, 243, 0.6) ;
   

}
#main-menu{
    /* background-color: #e4c5f2; */
    background-color: #ffff;
   

}   
#main-menu .menu{
    /* height: 100vh; */
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 2fr;
    margin: 1rem;
    padding: 10px 0px 0px 0;
    border-radius: 1rem;
}


#main-menu .menu a{
    text-decoration: none;
    text-align: center;
    background-color: rgb(230, 232, 238);
    border-radius: 1rem;
}
.menu a img{
    width: 100%;
    border-radius: 1rem;

}
.menu p{
    padding: 0 10px 0 10px;
    font-size: 20px;
    color: chocolate;

}
#body2 h1{
    text-align: center;
    font-size: 35px;
    font-weight: 600;

}
#body2 #introduk{
  
    font-size: 15px;
    font-weight: 600;
    padding: 0  45px 0 45px;
    text-align:center;


}
#body2 #subintro{
    font-size: 12px;
    padding: .5rem  45px .5rem 45px;
}
#body2 .b2{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem;
    /* padding: 10px 0px 0px 0; */
    border-radius: 1rem;
    
}

.b2 h2{
    font-size: 16px;
    padding: 2px;
    text-align: center;
}
.b2 p{
    padding: 2px;
    font-size: 15px;
    text-align: center;
}
.b2 #a1, #a2{
    background-color:#6b5b95 ;
    color: white;
}
.b2 #b1, #b2{
    background-color:#feb236;
    color: white;
}
.b2 #c1, #c2{
    background-color: #d64161;
    color: white;
}
.b2 #d1, #d2{
    background-color:#ff7b25 ;
    color: white;
}
.r1{
    display: grid;
    grid-template-columns:  1fr 1fr; 
    margin: 1rem;
    gap: 10px;
    align-items: center;
}

.r1 img {
    max-width: 100%;
    border-radius: 1rem;
}


#body_2{
    
 
}
.b_2{
    gap: 1rem;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: auto;
    padding: 0 10px 0 10px;
    margin: 1rem;
    
   
    
}

#body_2 .b_2 img{
    padding: 10px 0px 0px 0;
    border-radius: 1rem;
    width: 100%;
    max-height: 350px;
}
#body_3 .b_3{
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 2fr;
    margin: 1rem;
    padding: 10px 0px 0px 0;
    border-radius: 1rem;
    align-items: center;

}
.b_3 img{
    width: 100%;
    border-radius: 1rem;
}
#body3 .b3{
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 2fr;
    margin: 1rem;
    padding: 10px 0px 0px 0;
    border-radius: 1rem;
}
.b3 a{
    text-decoration: none;
    text-align: center;
    background-color: rgb(230, 232, 238);
    border-radius: 1rem;

}
.b3 a img{
    width: 100%;
    border-radius: 1rem;

}
.b3 p{
    padding: 0 10px 0 10px;
    font-size: 12px;
}

#body4 .b4{
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 2fr;
    margin: 1rem;
    padding: 10px 0px 0px 0;
    border-radius: 1rem;

}
.b4 a{
    text-decoration: none;
    text-align: center;
    background-color: rgb(230, 232, 238);
    border-radius: 1rem;
}
.b4 a img{
    width: 100%;
    border-radius: 1rem;
}
.b4 p{
    padding: 0 10px 0 10px;
    font-size: 12px;

}
#map h1{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    margin: 1rem;
}
#map .rooms{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid green;
    margin: 0 20px 0 20px;
    text-align: center;
    gap: 10px;
}
.rooms .w1{
    border: 1px solid #d64161;
    font-size: 15px;
}

.rooms .jok{
    color: #ffff;
}

footer{
    background-color: coral;
    
}
.elem{
    display: flex;
    justify-content: center;
   
  
    


}
.elem a{
    margin: 1rem;

}
.info_skole p{
    font-size: 19px;
    font-weight: 600;
    margin: 1
    0.5rem 0 0.5rem 0;
    font-size: 12px;
    color: white;
    text-align: center;
}


